.d1{
    background-color: chocolate;
    margin: 189px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px  black;
}
.d1 :hover{
  background-color: aliceblue;

}
.vv{
    margin: 180px;
    margin-top: 1px;
}
nav>ul>li{
    display: inline;
    margin-right: 15px;
    
}
nav>ul>li>a{
 text-decoration: none;
}
footer{
    text-align: center;
    margin-top: 30px;
}
main{
    text-align: right;
}
label{
    display: block;margin-top: 10px;
}